<!DOCTYPE html>
<html lang="en">

<head>
    <title>太原智慧环卫大数据平台</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div id="BigData"></div>
</body>

</html>