<!DOCTYPE html>
<html lang="en">

<head>
    <title>太原智慧环卫大数据平台</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div id="BigData"></div>
    <script
        src="//webapi.amap.com/maps?v=1.4.10&key=6f713c69faa95286904fa173059eae94&plugin=Map3D,AMap.DistrictSearch,AMap.SimpleMarker,AMap.Heatmap,AMap.PlaceSearch,AMap.Autocomplete,AMap.AdvancedInfoWindow">
    </script>
    <script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
    <script src="//a.amap.com/jsapi_demos/static/demo-center/model/js/three.js"></script>
    <script src="//a.amap.com/jsapi_demos/static/demo-center/model/js/loaders/MTLLoader.js"></script>
    <script src="//a.amap.com/jsapi_demos/static/demo-center/model/js/loaders/LoaderSupport.js"></script>
    <script src="//a.amap.com/jsapi_demos/static/demo-center/model/js/loaders/OBJLoader2.js"></script>
    <script
        src="http://api.map.baidu.com/getscript?v=2.0&ak=fKQeWELjsO4pEkWHG9ukjCAD5XLWAmSo&services=&t=20171220141726">
    </script>
</body>

</html>