<!DOCTYPE html>
<html lang="en">

<head>
    <title>荆州市城市固废资源利用云平台</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <div id="JzBigData"></div>
</body>

</html>